.Login {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Login h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.Login form {
  display: flex;
  flex-direction: column;
}

.Login input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Login button {
  background-color: #20b2aa; /* Light Sea Green */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Login button:hover {
  background-color: #008080; /* Teal */
}
