.App {
  text-align: center;
}

.App-header {
  background-color: #008080; /* Teal */
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons button {
  background-color: #20b2aa; /* Light Sea Green */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
  background-color: #008080; /* Teal */
}

main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.CodeEditor,
.Suggestions {
  width: 45%;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #f0f2f5; /* Light gray */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.CodeEditor textarea {
  height: 400px;
  margin-bottom: 20px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  background-color: #20b2aa; /* Light Sea Green */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #008080; /* Teal */
}

.Suggestions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Suggestions p {
  margin: 0;
  padding: 10px 0;
}
